<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}
            <link href="/bundles/cypressblog/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="/bundles/cypressblog/css/print.css" media="print" rel="stylesheet" type="text/css" />
            <!--[if lt IE 8]>
                <link href="/bundles/cypressblog/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
            <![endif]-->
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block context %}backend{% endblock %}">
        <section id="container">
            {% block header %}
            <section class="header">
                <h1><a href="{{ path('blog_be_dashboard') }}">Your Blog Dashboard</a></h1>{% endblock %}
            </section>
            {% block menu %}
            <section class="main-menu">
                <ul>
                    <li><a href="{{ path('blog_be_posts') }}">posts</a></li>
                    <li><a href="#">categories</a></li>
                    <li><a href="#">taxonomy</a></li>
                    <li><a href="#">comments</a></li>
                </ul>
            </section>
            {% endblock %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>