{% extends "CypressBlogBundle:Backend:base.html.twig" %}

{% block context %}dashboard{% endblock %}

{% block menu %}
<section class="main-menu">
    <ul>
        <li><a href="#">posts</a></li>
        <li><a href="#">categories</a></li>
        <li><a href="#">taxonomy</a></li>
        <li><a href="#">comments</a></li>
    </ul>
</section>
{% endblock %}
{% block content %}
<section class="content">
    body
</section>
{% endblock %}