{% extends "BlogBundle::blog.html.twig" %}

{% block title %}{{ parent() }} :: Categories{% endblock %}

{% block menu %}
    {% set selected = 'categories' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% for category in categories %}
        <h2><a href="{{ path('blog_category', {'slug': category.slug }) }}">{{ category }}</a></h2>
    {% endfor %}
{% endblock %}