{% extends "CypressBlogBundle::blog.html.twig" %}

{% block title %}{{ category }} :: {{ parent() }}{% endblock %}

{% block menu %}
    {% set selected = 'categories' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2>Posts with <em>{{ category }}</em> category</h2>
    {% include 'BlogBundle:Blog:slices/post_list.html.twig' %}
{% endblock %}