{% extends "CypressBlogBundle::blog.html.twig" %}

{% block title %}{{ tag }} :: {{ parent() }}{% endblock %}

{% block menu %}
    {% set selected = 'tags' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2>Posts with <em>{{ tag }}</em> tag</h2>
    {% include 'CypressBlogBundle:Blog:slices/post_list.html.twig' %}
{% endblock %}
