{% extends "CypressBlogBundle::blog.html.twig" %}

{% block title %}Tags :: {{ parent() }}{% endblock %}

{% block menu %}
    {% set selected = 'tags' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% for tag in tags %}
        <h2>{{ tag }}</h2>
    {% endfor %}
{% endblock %}